{% from "macros/link.njk" import link %}
{% from "macros/greeting.njk" import greeting %}
{% extends "layouts/index.njk" %}

{% set greetingText = greeting(weekDay) %}

{% block mainContent %}
    <p>Today is {{ weekDay }}. {{ greeting(weekDay) }}</p>
{% endblock %}